.main {
  // min-width: 1280px;
  // height: 720px;
  // width: 1280px;
  // margin: 0 auto;
  // background-color: bisque;
  min-width: 1280px;
  position: relative;
  aspect-ratio: 16 / 9;
}

.bgImg {
  background-image: url('../../../img/main.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
