.buttonBlock {
  display: flex;
  align-items: center;
  width: 100%;

  .customButton {
    width: 100%;
    color: #000;
    border: 2px solid #000;
    background-color: #86d3f4;
    padding: 16px 19px;
    transition: 0.4s;
    font-weight: 500;
    font-size: 16px;

    &:hover:enabled {
      cursor: pointer;
      color: #fff;
      background-color: #000;
    }

    &:disabled {
      color: #4e4e4e;
      border: 2px solid #4e4e4e;
    }
  }
}
