.phoneBlock {
  position: absolute;
  width: 380px;
  height: 100%;
  background-color: #86d3f4;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 72px 48px;

  .phoneBlock_panels {
    margin-bottom: 13px;

    .errorMessage {
      height: 44px;
      display: flex;
      align-items: center;

      span {
        color: #ea0000;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  .simpleText {
    display: flex;
    align-items: center;
    line-height: 16px;
    text-align: center;
  }

  .grey {
    color: #565656;
  }
}
